.table_height {
  height: 300px !important;
}
.color_red_short {
  color: #e80007;
}
.table_back {
  width: 100%;
  height: 40px;

  background: rgba(202, 228, 232, 0.79);
}
.btn_size {
  height: 40px !important;

  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
}

.border_accordin {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
}
.btn_size:focus {
  background: rgba(29, 162, 180, 0.63);
  color: white !important;
}
.baxk_accc {
  background: rgba(202, 228, 232, 0.79);
}
